<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arigato</title>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar fixed-top">
        <div class="container">
            <a href="/index.html" class="navbar-brand">
                <img src="/assets/images/brand.png" alt="Arigato Logo">
            </a>
            <div class="navlink-container d-flex justify-content-between ">
                <button class="navbar-toggler navlink" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <a class="navlink">+ MENU</a>
                </button>
                <button class="navbar-toggler navlink" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <a class="navlink">LOCATION</a>
                </button>
                <a href="/assets/components/about-us.html" class="navlink">ABOUT US</a>
                <a href="" class="navlink-button">ORDER ONLINE</a>
            </div>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <a href="/assets/components/menu.html">
                                <p class="navlink d-flex justify-content-end">Full Menu</p>
                            </a>
                            <a href="#section-2">
                                <p class="navlink d-flex justify-content-end">Drinks & Desserts</p>
                            </a>
                            <a href="#section-3">
                                <p class="navlink d-flex justify-content-end">Appetizers</p>
                            </a>
                            <a href="#section-4">
                                <p class="navlink d-flex justify-content-end">Sashimi Mori-Awase</p>
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="#section-5">
                                <p class="navlink d-flex justify-content-start">Lunch</p>
                            </a>
                            <a href="#section-6">
                                <p class="navlink d-flex justify-content-start">Lunch & Dinner</p>
                            </a>
                            <a href="#section-7">
                                <p class="navlink d-flex justify-content-start">Dinner</p>
                            </a>
                            <a href="#section-8">
                                <p class="navlink d-flex justify-content-start">Maki Rolls 50% off</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <a href="/assets/components/roseville.html">
                                <p class="navlink d-flex justify-content-center">Roseville</p>
                            </a>
                            <a href="/assets/components/gold-river.html">
                                <p class="navlink d-flex justify-content-center">Gold River</p>
                            </a>
                            <a href="/assets/components/sacramento.html">
                                <p class="navlink d-flex justify-content-center">Sacramento</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Location Card -->
    <div class="location-card">
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <img src="/assets/images/sacramento-card.png" alt="location-image" class="location-card-image">
                </div>
                <div class="col-7">
                    <h1 class="location-card-header">Sacramento</h1>
                    <p class="location-card-meta pt-1">Located in Arden Howe Plaza</p>
                    <a href="tel:916-920-5930">
                        <div class="row pt-1">
                            <img src="/assets/images/phone.png" alt="phone" class="pl-3 phone">
                            <p class="location-card-phone">
                                (916) 920-5930
                            </p>
                        </div>
                    </a>
                    <p class="location-card-key pt-5">
                        Address: <span class="location-card-meta">1608 Howe Ave, Sacramento, CA 95825</span>
                    </p>
                    <div class="row location-card-key">
                        <div class="pl-3">
                            COVID-19 Hours:
                        </div>
                        <div class="pl-2">
                            Mon-Thurs <span class="location-card-meta">11:30am-10pm</span>
                            <br>
                            <br>
                            Fri-Sun <span class="location-card-meta">11:30am-10:30pm</span>
                        </div>
                    </div>
                    <div class="row pt-5 pl-3">
                        <div>
                            <button class="location-button">ORDER PICKUP</button>
                            <p class="affiliate d-flex justify-content-center">Powered by Arigato Sushi</p>
                        </div>
                        <div class="pl-3">
                            <button class="location-button">ORDER DELIVERY</button>
                            <p class="affiliate d-flex justify-content-center">Powered by Postmates</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sacramento -->
    <div id="map"></div>

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="footer-header">
                <img src="/assets/images/brand-name.png" alt="Arigato" class="img-fluid arigato">
            </div>
            <div class="footer-socials">
                <a href="https://www.instagram.com/arigato.sushi.sac/?hl=en" class="footer-socials-children">
                    <i class="fab fa-instagram fa-3x"></i>
                </a>
                <a href="https://www.yelp.com/biz/arigato-sushi-roseville" class="footer-socials-children">
                    <i class="fab fa-yelp fa-3x"></i>
                </a>
            </div>
            <div class="footer-locations">
                <div class="location-one">
                    <p class="location-header">
                        ROSEVILLE
                    </p>
                    <p class="location-meta">
                        Ridge at Creekside
                        <br>
                        1136 Galleria Blvd,
                        <br>
                        Roseville, CA 95678
                    </p>
                    <p class="location-meta">
                        MON-THURS
                        <br>
                        11:30-10 PM
                    </p>
                    <p class="location-meta">
                        FRI-SUN
                        <br>
                        11:30-10:30 PM
                    </p>
                </div>
                <div class="location-two">
                    <p class="location-header">
                        GOLD RIVER
                    </p>
                    <p class="location-meta">
                        Gold River Town Center
                        <br>
                        2121 Golden Centre Ln
                        <br>
                        #70, Gold River, CA 95670
                    </p>
                    <p class="location-meta">
                        MON-THURS
                        <br>
                        11:30-10 PM
                    </p>
                    <p class="location-meta">
                        FRI-SUN
                        <br>
                        11:30-10:30 PM
                    </p>
                </div>
                <div class="location-three">
                    <p class="location-header">
                        SACRAMENTO
                    </p>
                    <p class="location-meta">
                        Arden Howe Plaza
                        <br>
                        1608 Howe Ave.
                        <br>
                        Sacramento, CA 95825
                    </p>
                    <p class="location-meta">
                        MON-THURS
                        <br>
                        11:30-10 PM
                    </p>
                    <p class="location-meta">
                        FRI-SUN
                        <br>
                        11:30-10:30 PM
                    </p>
                </div>
            </div>
            <hr class="line">
            <div class="footer-navbar">
                <a href="/assets/components/menu.html" class="footer-navbar">MENU</a>
                <a href="#" class="footer-navbar">LOCATIONS</a>
                <a href="#" class="footer-navbar">ORDER ONLINE</a>
                <a href="/assets/components/about-us.html" class="footer-navbar">ABOUT US</a>
                <a href="#" class="footer-navbar">CONTACT US</a>
                <a href="#" class="footer-navbar">CAREERS</a>
            </div>
        </div>
        <div class="footer-disclaimer">
            <p class="disclaimer ">
                Regarding COVID-19
                <a href="#" class="covid-disclaimer disclaimer pl-2">Learn More</a>
            </p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChrW_bbSiqiYEACYCEkMfZklDLjidsE8Y&callback=initMap">
        </script>
    <script src="/assets/js/sacramento.js"></script>
</body>

</html>