body {
    margin: 0;
    max-width: 1440px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    /* width: 100%;
    height: 100px;
    align-items: center; */
}

.navlink, .navlink-button{
    color: white;
    text-decoration: none;
}

.navlink-button {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 5px;
}

.landing-page {
    height: 750px;
    max-width: 100%;
    background-image: url('/Images/Landing_Banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    /* background-attachment: fixed; */
}

.order-button-container {
    padding-top: 25%;
    height: 600px;
    width: 400px;
    border: 1px solid white;
}

.order-button-text {
    color: white;
    font-size: 40px;
    font-family: 'Raleway', serif;
    line-height: 125%;
    font-weight: bold;
}

.order-button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 7.5px;
    padding: 5px 30px 5px 30px;
    font-size: 16px;
    font-family: 'Raleway', serif;
}

.locations {
    height: 750px;
    border: 5px solid red;
}

.locations-font {
    color: black;
}

.locations-title {
    display: flex;
    justify-content: center;
    margin-top: 15%;
    margin-bottom: 5%;
}

.locations-children-container {
    display: flex;
    justify-content: space-evenly;
}

.locations-children {
    width: 30%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.container-news {
    background: linear-gradient(#980101,#630202);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.link, .news-headline, .news-metainfo {
    color: white;
    font-family: 'Raleway', serif;
}

.news-headline {
    font-weight: 900;
    font-size: 30px;
}

.news-metainfo {
    font-size: 18px;
    max-width: 55%;
}

.link {
    font-weight: bold;
    font-size: 18px;
}

a:link {
    color: white;
}

.roseville-location {
    background-image: url('/Images/Roseville.png');
}

.gold-river-location {
    background-image: url('/Images/Gold\ River.png');
}

.sacramento-location {
    background-image: url('/Images/Sacramento.png');
}

.about-us {
    border: 5px solid blue;
    height: 750px;
}

.about-us-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    height: 750px;
}

.images-child, .info-child {
    width: 100%;
}

.about-us-title, .about-us-info, .about-us-description {
    font-family: 'Raleway', serif;
}

.about-us-title {
    font-size: 18px;
    line-height: auto;
    letter-spacing: 5%;
    font-weight: 500;
    color: #828282;
}

.about-us-info {
    font-size: 36px;
    line-height: auto;
    letter-spacing: 5%;
    font-weight: bold;
    color: black;
}

.about-us-description {
    font-size: 18px;
    line-height: 161%;
    letter-spacing: 10%;
    color: black;
}

.about-us-button {
    background-color: #7D0000;
    color: white;
    border-radius: 10px;
    padding: 5px 30px 5px 30px;
}