* {
    margin: 0;
}

body {
    max-width: 1440px;
}

.navbar {
    background-color: #000000;
}

.navbar-brand {
    width: 300px;
}

.navlink-container {
    width: 700px;
}

.navlink, .navlink-button{
    font-family: 'Raleway', serif;
    font-size: 16px;
    color: white;
    padding: 5px 5px;
    text-decoration: none;
}

.navlink-button {
    border: 1px solid white;
    border-radius: 5px;
}

.landing-page {
    padding-top: 70px;
    max-width: 100%;
    height: 750px;
    background-image: url('/Images/Landing_Banner.png');
    background-repeat: no-repeat;
    background-position: center;
}

.order-button-container {
    width: 405px;
    height: 600px;
    padding-top: 30%;
}

.order-button-text {
    font-family: 'Raleway', serif;
    font-weight: 800;
    color: white;
    line-height: 125%;
}

.order-button {
    font-family: 'Raleway', serif;
    font-size: 16px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 7.5px;
    padding: 5px 35px 5px 35px;
}

.container-news {
    background: linear-gradient(#980101,#630202);
    flex-direction: column;
}

.link, .news-headline, .news-metainfo {
    font-family: 'Raleway', serif;
    color: white;
}

.news-headline {
    font-weight: 800;
    font-size: 30px;
}

.news-metainfo {
    font-size: 18px;
    width: 62%;
    text-align: center;
}

.link {
    font-size: 18px;
    font-weight: 700;
}

a:link {
    color: white;
}

.locations {
    height: 750px;
}

.locations-title {
    display: flex;
    justify-content: center;
    padding-top: 20%;
    padding-bottom: 5%;
}

.locations-font {
    font-family: 'Raleway', serif;
    font-size: 30px;
    font-weight: 700;
    color: black;
}

.locations-parent {
    width: 30%;
}

.locations-children {
    height: 285px;
    background-position: center;
    border-radius: 7.5px;
}

.roseville-location {
    background-image: url('/Images/Mask\ Group\ \(6\).png');
}

.gold-river-location {
    background-image: url('/Images/Mask\ Group\ \(7\).png');
}

.sacramento-location {
    background-image: url('/Images/Mask\ Group\ \(8\).png');
}

.locations-name {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', serif;
    font-size: 24px;
    font-weight: 700;
}

.about-us {
    height: 750px;
    background-image: url('/Images/Rectangle\ 42\ \(4\).png');
}

.about-us-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 750px;
}

.images-child, .info-child {
    width: 100%;
}

.images-child {
    height: 100%;
    background-image: url('/Images/Group\ 59\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.about-us-title, .about-us-info, .about-us-description, .about-us-button {
    font-family: 'Raleway', serif;
}

.about-us-title {
    font-size: 18px;
    font-weight: 600;
    line-height: auto;
    letter-spacing: 5%;
    color: #828282;
}

.about-us-info {
    font-size: 36px;
    font-weight: 700;
    line-height: auto;
    letter-spacing: 5%;
    color: black;
}

.about-us-description {
    font-size: 18px;
    font-weight: 500;
    line-height: 161%;
    letter-spacing: 10%;
    color: black;
}

.about-us-button {
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #7D0000;
    border-radius: 10px;
    padding: 5px 40px 5px 40px;
}

.socials {
    height: 750px;
    width: 100%;
    padding-top: 100px;
}

.socials-container {
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('/Images/Firefly\ Roll\ 1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding-top: 5%;
}

.postmates-header ,.postmates-button ,.postmates-meta {
    font-family: 'Raleway', serif;
    color: white;
}

.postmates-title {
    display: flex;
}

.postmates-logo {
    height: 46px;
    padding-top: 15px;
}

.postmates-header {
    font-size: 36px;
    font-weight: 800;
    line-height: auto;
    letter-spacing: 8%;
}

.postmates-button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 30px 5px 30px;
    font-size: 18px;
    font-weight: 700;
    line-height: auto;
    letter-spacing: 5%;
}

.postmates-meta {
    width: 80%;
    font-size: 16px;
    line-height: 104.8%;
    letter-spacing: 8%;
    padding-top: 2%;
}

.social-headers-main ,.social-socials {
    font-family: 'Raleway', serif;
    display: flex;
    justify-content: center;
}

.social-headers-main {
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    line-height: 45%;
    letter-spacing: 5%;
}

.social-socials {
    width: 100%;
    font-size: 21px;
    line-height: 45%;
    letter-spacing: 5%;
}

.social-images {
    width: 100%;
    height: 200px;
    display: flex;
}

.si-images-one ,.si-images-two ,.si-images-three ,.si-images-four ,.si-images-five {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 100%;
    width: 20%;
}

.si-images-one {
    background-image: url('/Images/Mask\ Group.png');
}

.si-images-two {    
    background-image: url('/Images/Mask\ Group\ \(1\).png');
}

.si-images-three {
    background-image: url('/Images/Mask\ Group\ \(2\).png');
}

.si-images-four {
    background-image: url('/Images/Mask\ Group\ \(3\).png');
}

.si-images-five {
    background-image: url('/Images/Mask\ Group\ \(4\).png');
}

.footer {
    background-color: #3F3F3F;
}

.footer-header {
    display: flex;
    justify-content: center; 
}

.footer-socials {
    display: flex;
    justify-content: center;
    padding: 5%;
}

.footer-socials-children {
    padding: 2.5%;
}

.fa-yelp ,.fa-instagram {
    color: white;
}

.footer-locations {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.location-one ,.location-two ,.location-three {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.location-header, .location-meta, .footer-navbar, .disclaimer, .covid-disclaimer {
    font-family: 'Raleway', serif;
}

.location-header {
    font-size: 18px;
    font-weight: 800;
    line-height: auto;
    letter-spacing: 5%;
}

.location-meta {
    font-size: 14px;
    font-weight: 400;
    line-height: auto;
    letter-spacing: 5%;
    text-align: center;
}

.line {
    background: white;
}

.footer-navbar {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
}

.arigato {
    margin-top: 5%;
}

.footer-disclaimer {
    background-color: red;
    height: 100%;
}

.disclaimer {
    margin: 0;
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Raleway', serif;
    font-size: 16px;
    font-weight: 700;
}

.covid-disclaimer {
    text-decoration: underline;
    font-size: 16px;
    font-weight: 700;
}

.brand-values {
    height: 350px;
    padding-top: 150px;
    background-image: url('/Images/Rectangle\ 41.png');
}

.brand-header, .brand-meta {
    font-family: 'Raleway', serif;
    text-align: center;
}

.brand-header {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 5%;
}

.brand-meta {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 10%;
}

.our-story {
    height: 750px;
}

.our-story-container {
    height: 750px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.our-story-child-image {
    height: 100%;
    background-image: url('/Images/Group\ 61.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.our-story-header, .our-story-meta {
    font-family: 'Raleway', serif;
}

.our-story-header {
    font-size: 36px;
    font-weight: 700;
}

.our-story-meta {
    padding-top: 25px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 8%;
}

.menu-header {
    height: 350px;
    padding-top: 150px;
    text-align: center;
    background-image: url('/Images/Rectangle\ 41.png');
}

.menu-header-text, .menu-header-meta, .menu-header-info-meta {
    font-family: 'Raleway', serif;
}

.menu-header-text {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 5%;
}

.menu-header-meta {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 5%;
}

.menu-header-info {
    display: flex;
    justify-content: center;
}

.chilli {
    width: 25px;
    height: 25px;
}

.menu-header-info-meta {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 5%;
}

.menu {
    height: 100%;
    border: 5px solid red;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sections-1 {
    
}

.drinks-header {
    background-image: url('/Images/Mask\ Group\ \(10\).png');
    height: 200px;
    border-radius: 5px;
}

.section-header, .section-header-child, .menu-item, .additions {
    font-family: 'Raleway', serif;
}

.section-header-meta {
    font-weight: 400;
}
.section-header {
    font-size: 28px;
    font-weight: 800;
    padding-top: 25px;
}

.line-black {
    background: black;
}

.section-header-child {
    font-size: 24px;
    font-weight: 800;
}

.menu-row {
    height: 125px;
    /* border: 1px solid blue; */
}

.menu-item {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    /* border: 1px solid green; */
}

.menu-item-meta {
    font-size: 16px;
    font-weight: 400;
}

.appetizers-header {
    background-image: url('/Images/Mask\ Group\ \(11\).png');
    height: 200px;
    border-radius: 5px;
}

.sashimi-header {
    background-image: url('/Images/Mask\ Group\ \(12\).png');
    height: 200px;
    border-radius: 5px;
}

.lunch-header {
    background-image: url('/Images/Mask\ Group\ \(12\).png');
    height: 200px;
    border-radius: 5px;
}

.lunch-and-dinner-header {
    background-image: url('/Images/Mask\ Group\ \(12\).png');
    height: 200px;
    border-radius: 5px;
}

.dinner-header {
    background-image: url('/Images/Mask\ Group\ \(12\).png');
    height: 200px;
    border-radius: 5px;
}

.maki-header {
    background-image: url('/Images/Mask\ Group\ \(12\).png');
    height: 200px;
    border-radius: 5px;
}